@import "../src/css/pokemonList.css";
@import "../src/css/pokemon.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

:root {
  --title-1: 2em;
  --title-2: 1.2em;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;
}

html {
  background-color: coral;
}

.navbar {
  color: coral;
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.navbar-main-wrapper {
  font-size: var(--title-2);
  display: flex;
  align-items: center;
  color: coral;
}

.navbar-back-icon {
  position: absolute;
  left: 20px;
  top: 10px;
  font-size: var(--title-2);
  color: coral;
  font-size: var(--title-2);
  font-weight: bold;
}

.navbar-label {
  font-size: var(--title-2);
  font-weight: bold;
  padding: 10px;
}

.body {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* border: 2px solid blue; */
  align-items: center;
}

.title {
  font-size: var(--title-2);
}

.header {
  text-align: center;
}

.label {
  font-weight: bold;
}
